body {
    background-color: #f0f4f8; 
    font-family: serif;
    margin: 0;
    padding: 0;
}
.navbar ul{
    list-style-type: none;
    margin:0;
    padding:0;
    background-color: aliceblue;
    overflow: hidden;
}
.navbar a{
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    font-size: 20px;
}

.navbar li a:hover {
    background-color: #0056b3; 
    transform: scale(1.1);
}
.navbar li{
    display: block;
    padding: 20px;
    float: right;
}

hr{
    border: 2px solid #004d99;
}

.profile{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}

.photo{
    display: flex;
    justify-content: center;
    margin: 0%;
    padding-top: 10px;
}
.lists ul{
    list-style-type: none;
    margin-left: 40%;
    font-size: 20px;
    
}
.lists li{
    display: inline-block;
    justify-content: center;
    padding: 2%;
    position: relative;
    right: 5%;
    background-color: #e6f0ff;
    transition: background-color 0.3s ease; 
    cursor: pointer;
    border-radius: 5px;
    color: black;
}
.lists li:hover{
    background-color: #cce0ff;
    transform: scale(1.1);
}
.me{
    text-align: center;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 5px;
}
.me h1 {
    color: #0056b3;   
    transition: 0.3s ease;
    cursor: pointer;
    padding-bottom: 10px;
}
.me h1:hover{
 transform: scale(1.1);
}
.me h2 {
    color: #0056b3;   
    transition: 0.3s ease;
    cursor: pointer;
}
.me h2:hover{
    transform: scale(1.1);
}
.me p{
    color: #333333;
    font-size: 20px;
}
.me strong{
    color: #00796b;
}
.project h1{
    color: #0056b3;
    transition: 0.3s ease;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
}
.project h1:hover{
    transform: scale(1.1);
}
.projectimg{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 20px;
    margin: 50px;
    margin-left: 50px;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid black;
    padding: 30px;
    box-shadow: inset 0 0 10px blue;
    background-color: #f0f4f8; 
}
.projectinfo h3{
    font: 20px;
    margin-left: 120px;
}
.skill h1{
    color: #0056b3;
    transition: 0.3s ease;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}
.skill h1:hover{
    transform: scale(1.1);
}
.skill {
    font-size: 20px;
    color: #333333;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 0 5px blue;
    padding: 20px;
    margin: 20px;
    max-width: 100%;
    text-align: center;
}
.skill ul{
    list-style-type: none;
}
.skill p{
    font-size: 20px;
    color: #333333;
}
.skill strong{
    color: blue;
}
.forms h1{
    color: #0056b3;
    transition: 0.3s ease;
    font-size: 30px;
    text-align: left;
    cursor: pointer;
}
.forms h1:hover{
    transform: scale(1.1);
}
.forms{
    border: 2px solid black;
    box-shadow: 0 0 5px blue;
    padding: 20px;
    margin: 20px;
    max-width: 50%;
}
